<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="new_body">
    <form  method="post" action="/user/add">
        <input class="new_inp1" name="id" placeholder="Enter Id">
        <input class="new_inp2" name="username" placeholder="Enter username">
        <input class="new_inp3" name="email" placeholder="enter email"> 
        <input class="new_inp4" name="password" placeholder="Enter password">
        <button class="new_btn" type="submit">Add new Account</button>
    </form>
</body>
</html>